/GeomaticsCore/nbproject/private/
/GeomaticsCore/build/
/GeomaticsCore/dist/
/GeomaticsCore/.jacocoverage/
/GeomaticsGfx/nbproject/private/
/GeomaticsGfx/build/
/GeomaticsGfx/dist/
/GeomaticsGfx/.jacocoverage/
/GeomWorkshop/nbproject/private/
/GeomWorkshop/build/
/GeomWorkshop/dist/
/GeomWorkshop/.jacocoverage/
/Jayson/nbproject/private/
/Jayson/build/
/Jayson/dist/
/Jayson/.jacocoverage/
/GeomaticsData/nbproject/private/