/GeomaticsCore/nbproject/private/
/JGeomaticsCore/build/
/JGeomaticsCore/dist/
/JGeomaticsCore/.jacocoverage/
/GeomaticsGfx/nbproject/private/
/GeomaticsGfx/build/
/GeomaticsGfx/dist/
/GeomaticsGfx/.jacocoverage/
/GeomWorkshop/nbproject/private/
/GeomWorkshop/build/
/GeomWorkshop/dist/
/GeomWorkshop/.jacocoverage/
/Jayson/nbproject/private/
/Jayson/build/
/Jayson/dist/
/Jayson/.jacocoverage/